/* Utilities */ 
body {
    font-family: sans-serif;
}

/* HEADER */ 
#top-header, #bottom-header {
    height: 70px;
}


#top-header h1 {
    color: #29b1dd;
    font-family: 'Acme', sans-serif;
}


#bottom-header {
    color: white;
    background-color: #29b1dd;
}


/* MAIN */ 
main {
    background-color: #dddddd;
}

.animal {
    color: blue;
}

.vegetable {
    color: rgb(255, 196, 34);
}

.user {
    color: purple;
}

.company {
    color: seagreen;
}